.bgimage{
    background-image: url(https://www.usnews.com/dims4/USNEWS/0fb1d7d/17177859217/thumbnail/256x256/quality/85/?url=https%3A%2F%2Fmedia.beam.usnews.com%2F1b%2F5ee194b917338eebca660942b5bdf3%2Fcollege-photo_6926.jpg);
height: 15vh;
width: 33vh;
background-size: contain;


}
.bgimage1{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSY5IiWkkAzk70XFiqUOBdZc1RBQ0oNxmp2y9Ov6h2Bwg&s);

}
.bgimage2{
    background-image: url(https://img.freepik.com/free-photo/3d-rendering-abstract-building_23-2150896894.jpg);
    background-size: contain;
}
.bgimage3{
    background-image: url(https://img.freepik.com/free-vector/people-walking-sitting-hospital-building-city-clinic-glass-exterior-flat-vector-illustration-medical-help-emergency-architecture-healthcare-concept_74855-10130.jpg);
    background-size:contain;
}

.bgimage4{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTXLK6JIU7QAqH9KFF4QUw2ca89awYHpJyOX59x0N0Hiw&s);
    background-size: contain;
}

.bgimage5{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRYhywgm0paB1PJbMzDAFTGPAKo9RQtYo307sor7YYJyQ&s);
    background-size: contain;
}

.bgimage6{
    background-image: url(https://images.axios.com/KVSGpNMi3Ds9wD-S_hFVuq0-oH0=/0x596:5792x3854/1920x1080/2023/03/07/1678205109431.jpg);
    background-size: contain;
}

.bgimage7{
    background-image: url(https://images.axios.com/KVSGpNMi3Ds9wD-S_hFVuq0-oH0=/0x596:5792x3854/1920x1080/2023/03/07/1678205109431.jpg);
    background-size: contain;
}

.bgimage8{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSuUogPh-Gl3rrakML6iYK51R2sis8uRrZaBRf_QvyE7Q&s);
    background-size: contain;
}
